@import '../assets/colorVariables';
@import '../assets/mediaQueries';
.Main {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: $light-blue;
    width: 100vw;
    height: 100%;
    @include desktop-view {
        height: 80vh;
        width: 70vw;
        border-radius: 10px;
        box-shadow: -5px 5px 5px $shadow-color;
    }
    @include big-desktop-view {
        height: 80vh;
        width: 70vw;
        border-radius: 10px;
        box-shadow: -5px 5px 5px $shadow-color;
    }
}
