@import '../assets/colorVariables';
.Main {
    display: flex;
    height: 90vh;
    position: relative;
    width: 80vw;
    border-radius: 10px;
    overflow: hidden;
    background-color: $light-blue;
}
