@import '../assets/mediaQueries';
.ChannelMessages {
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
    padding: 30px;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;

    @include mobile-view {
        width: 100%;
        padding: 10px;
    }
    @include tablet-portrait-view {
        width: 100%;
        padding: 10px;
    }
}
