@import '../assets/colorVariables';
.ChannelList {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 5px;
    height: calc(50% - 115px);
    overflow: scroll;

    &__header {
        display: flex;
        align-items: center;
        color: $white;
        gap: 10px;
        cursor: pointer;
        margin-bottom: 5px;
    }

    &__content {
        color: $light-gray;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        font-size: 15px;
        cursor: pointer;
        border-radius: 5px;

        &:hover,
        &.selected {
            background-color: $ChannelList-selected-color;
            color: $white;
        }
    }
}
