@import '../assets/colorVariables';
@import '../assets/mediaQueries';

.Server {
    background-color: $ServerInfo-background-color;
    z-index: 1;
    flex: 3;
    position: relative;
    max-width: 300px;

    &.hidden {
        @include mobile-view {
            display: none;
        }
        @include tablet-portrait-view {
            display: none;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 10px 20px;
        border-bottom: 1px solid $ServerInfo-border-color;
        font-weight: bold;
        color: $white;
        position: relative;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        align-items: center;
        padding: 20px;
        height: 30%;
        &--logo {
            height: 100%;
            // border-radius: 50%;
            // object-fit: cover;
        }
        &--description {
            text-align: center;
            font-size: 16px;
            color: $light-gray;
        }

        &--admin {
            color: $light-gray;
        }
    }

    &__openOptions,
    &__closeOptions {
        cursor: pointer;
    }

    &__options {
        position: absolute;
        top: 55px;
        left: 15px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 30px);
        background-color: $dark-color;

        div {
            padding: 6px 20px;
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            position: relative;

            .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: $ServerList-background-color;
                border: solid 1px $light-gray;
                color: $white;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
        }

        .edit {
            border-bottom: 1px solid $light-gray;
            &:hover {
                background-color: $light-blue;
            }
        }

        .delete {
            &:hover {
                background-color: $light-red;
            }
        }

        &.disable {
            .edit,
            .delete {
                &:hover {
                    background-color: transparent;
                    .tooltiptext {
                        visibility: visible;
                    }
                }
            }
        }
    }
    & .wrapper--server {
        height: 70%;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 50%;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile-view {
            width: 100px;
            height: 100px;
        }
    }
}
