@import '../assets/colorVariables';

.ServerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px 0;
    width: 90%;
    aspect-ratio: 1/1;
    pointer-events: none;
    position: relative;

    &.selected {
        .ServerIcon__img {
            border-radius: 20%;
        }
        .ServerIcon__selection {
            border-left: 5px solid $light-blue;
            height: 20%;
        }
        &:hover {
            .ServerIcon__selection {
                border-left: 5px solid $light-blue;
                height: 20%;
            }
        }
    }

    &:hover {
        .ServerIcon__selection {
            border-left: 2px solid $light-gray;
        }
        .ServerIcon__name {
            display: block;
        }
    }

    &__selection {
        height: 40%;
        width: 100%;
        position: absolute;
    }

    &__img {
        height: 100%;
        // object-fit: cover;
        // aspect-ratio: 1/1;
        // border-radius: 50%;
        cursor: pointer;
        pointer-events: all;
        background-color: $light-blue;
    }

    &__name {
        position: absolute;
        z-index: 10;
        background-color: $dark-color;
        color: $white;
        left: 110%;
        padding: 5px 10px;
        border-radius: 5px;
        width: max-content;
        display: none;
        box-shadow: 1px 4px 2px $shadow-color;
    }

    & .wrapper {
        background-color: $light-blue;
        width: 90%;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 50%;
        background-position: center;
        &:hover {
            border-radius: 20%;
        }
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
