@import '../assets/colorVariables';
@import '../assets/mediaQueries';

.ServerList {
    flex: 1;
    background-color: $ServerList-background-color;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 80px;
    overflow-x: visible;

    @include mobile-view {
        overflow: hidden;
    }

    &.hidden {
        @include mobile-view {
            display: none;
        }
        @include tablet-portrait-view {
            display: none;
        }
    }

    &__appIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        border-bottom: 2px solid $ServerList-icon-color-dark;
        margin-bottom: 5px;

        .appIcon {
            padding: 5px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $ServerList-icon-color-dark;
            cursor: pointer;

            &:hover {
                background-color: $light-blue;
            }
        }
    }

    &__icons {
        max-height: calc(100% - 140px);
        max-width: 80px;

        @include mobile-view {
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }

    &__addIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        border-top: 2px solid $ServerList-icon-color-dark;
        margin-top: 5px;

        &:hover {
            .addMessage {
                visibility: visible;
            }
        }

        .addIcon {
            padding: 5px;
            width: 50px;
            height: 50px;
            color: $light-green;
            border-radius: 50%;
            background-color: $ServerList-icon-color-dark;
            cursor: pointer;

            &:hover {
                background-color: $light-green;
                color: $white;
                border-radius: 20px;
            }
        }

        .addMessage {
            position: absolute;
            z-index: 10;
            background-color: $dark-color;
            color: $white;
            left: 100%;
            padding: 5px 10px;
            max-height: 40px;
            width: max-content;
            visibility: hidden;
            border-radius: 5px;
            box-shadow: 1px 4px 2px $shadow-color;

            @include mobile-view {
                display: none;
            }
        }
    }
}
