@import '../assets/colorVariables';

.UserInfo {
    background-color: $UserInfo-background-color;
    width: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateY(-100%);
    padding: 10px 10px;
    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: solid 2px $light-blue;
        object-fit: cover;
    }
    &__username {
        color: $white;
    }
    &__logoutBtn {
        margin-left: 5%;
        border: none;
        background-color: $light-blue;
        padding: 10px 20px;
        border-radius: 5px;
        color: $white;
        font-weight: bold;
    }
}
