@import '../assets/colorVariables';
.MessageInput {
    width: 100%;
    height: 50px;
    background-color: $ChannelChat-input-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    gap: 10px;
    &__attachFile {
        margin-top: 5px;
        font-size: 20px;
        color: $dark-color;
        border-radius: 50%;
        background-color: $light-gray;
        cursor: pointer;
    }
    &__text {
        font-size: 18px;
        color: $white;
        width: 95%;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: solid 1px $light-gray;
    }
    &__sendBtn {
        border: none;
        background-color: $light-blue;
        padding: 10px 20px;
        border-radius: 5px;
        color: $white;
        font-size: 15px;
        cursor: pointer;
    }
}
