// main colors
$white: #ffff;
$light-gray: #a0a3a6;
$light-blue: #5865f2;
$light-green: #3ba55d;
$dark-color: #18191c;
$light-red: #ed4245;
$shadow-color: #1d1e21a9;

// ServerList colors
$ServerList-background-color: #202225;
$ServerList-icon-color-dark: #36393f;

//ServerInfo colors
$ServerInfo-background-color: #2f3136;
$ServerInfo-border-color: #222427;

// UserInfo colors
$UserInfo-background-color: #292b2f;

// ChannelList colors
$ChannelList-background-color: #2f3136;
$ChannelList-selected-color: #42464d;

// ChannelContent
$ChannelInfo-background-color: #36393f;
$ChannelInfo-search-color: #202225;
$ChannelChat-background-color: #36393f;
$ChannelChat-input-color: #40444b;
