@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import './assets/_colorVariables.scss';

html {
    height: -webkit-fill-available;
}
body {
    display: flex;
    width: 100vw;
    height: calc(100vh - calc(100vh - 100%));
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $light-gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: $dark-color;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: $light-gray;
    border-radius: 20px;
    border: 2px solid $dark-color;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: $light-blue;
}
